.userContainer {
  height: 42px;
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
  padding: 0.3rem 0.6rem;
  border-radius: 0.4rem;
}

.userContainer:hover {
  background-color: #858585;
}

.userChatName {
  color: #444444;
}

.userMenu {
  position: absolute;
  top: 40px; /* Adjust based on your needs */
  right: 0;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 5px 0;
  z-index: 1000;
}

.menuItem {
  display: block;
  width: 100%;
  padding: 8px 16px;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
  color: #333;
}

.menuItem:hover {
  background-color: #f5f5f5;
}

.userContainer .username {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.userContainer .avatar {
  border-radius: 50%;
  height: 100%;
}
